<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title><% title %></title>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</head>

<body>

<div id="tabs">
    <ul>
        <li><a href="#user-tab">Users</a></li>
        <li><a href="#event-tab">Events</a></li>
    </ul>

    <div id="user-tab">
        <table>
            <thead>
            <tr>
                <th width="30%">Name</th>
                <th width="30%">Member Type</th>
                <th width="10%">CS Points</th>
                <th width="10%">Academic Points</th>
                <th width="10%">Social Points</th>
                <th width="10%">Total Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Column1</td>
                <td>Column2</td>
                <td>Column3</td>
                <td>Column4</td>
                <td>Column5</td>
                <td>Column6</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="event-tab">
        <table>
            <thead>
            <tr>
                <th width="30%">Event</th>
                <th width="30%">Member Type</th>
                <th width="10%">CS/O Points</th>
                <th width="10%">A/P Points</th>
                <th width="10%">S/H Points</th>
                <th width="10%">Total Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Column1</td>
                <td>Column2</td>
                <td>Column3</td>
                <td>Column4</td>
                <td>Column5</td>
                <td>Column6</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
