<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title><% title %></title>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</head>

<body>

<div id="tabs">
    <ul>
        <li><a href="#user-tab">Users</a></li>
        <li><a href="#event-tab">Events</a></li>
    </ul>

    <div id="user-tab">
        <table>
            <thead>
            <tr>
                <th width="30%">Name</th>
                <th width="30%">Member Type</th>
                <th width="10%">CS Points</th>
                <th width="10%">Academic Points</th>
                <th width="10%">Social Points</th>
                <th width="10%">Total Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <% users.forEach(function(user){ %>
                <tr>
                    <% var name = user.firstName + ' ' + user.lastName %>
                    <td> <%= name %> </td>
                    <td> <%= user.memberStatus %> </td>
                </tr>
                <% }) %>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="event-tab">
        <table>
            <thead>
            <tr>
                <th width="40%">Event</th>
                <th width="10%">Points</th>
                <th width="10%">Points Type</th>
                <th width="30%">Date</th>
            </tr>
            </thead>
            <tbody>
                <% events.forEach(function(event){ %>
                <tr>
                    <td> <%= event.name %> </td>
                    <td> <%= event.points %> </td>
                    <td> <%= event.type %> </td>
                    <% var d = event.datetime %>
                    <% date = new Date(d)%>
                    <td> <%= date.toDateString() %> </td>
                    <td>
                        <form action="/event_view" method="post">
                            <input type="hidden" name="v_id" value=<%= event.id %> >
                            <input type="submit" value="View" name="viewEvent" >
                        </form>
                    </td>
                    <td>
                        <form action="/event_delete" method="post">
                            <input type="hidden" name="d_id" value=<%= event.id %> >
                            <input type="submit" value="Delete" name="deleteEvent" >
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>

    <form action="/event_create" method="get">
        <input type="submit" value="Create Event" 
         name="Submit" id="Create Event" />
    </form>

     </div>

</div>

</body>
</html>
