<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/admin_console.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title><% title %></title>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</head>

<body>

<div id="tabs">
    <ul>
        <li><a href="#user-tab">Users</a></li>
        <li><a href="#event-tab">Events</a></li>
    </ul>

    <div id="user-tab">
        <input type="text" id="search" placeholder="Type to search">
        <table id="point-table">
            <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="20%">Member Type</th>
                <th width="15%">Academic</th>
                <th width="15%">Community Service</th>
                <th width="15%">Social</th>
                <th width="15%">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <% users.forEach(function(user){ %>
                <tr>
                    <% var name = user.firstName + ' ' + user.lastName %>
                    <td> <a href="user?u_id=<%= user.id %>"> <%= name %> </a> </td>
                    <td> <%= user.memberStatus %> </td>
                    <td class="point-cell"> <%= user.points.eventType['academic'] %> </td>
                    <td class="point-cell"> <%= user.points.eventType['community'] %> </td>
                    <td class="point-cell"> <%= user.points.eventType['social'] %> </td>
                    <td class="point-cell"> <%= user.points.total %> </td>
                </tr>
                <% }) %>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        var $rows = $('#point-table tbody tr');
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>

    <div id="event-tab">
        <table>
            <thead>
            <tr>
                <th width="40%">Event</th>
                <th width="10%">Points</th>
                <th width="10%">Points Type</th>
                <th width="30%">Date</th>
            </tr>
            </thead>
            <tbody>
                <% events.forEach(function(event){ %>
                <tr>
                    <td> <%= event.name %> </td>
                    <td> <%= event.points %> </td>
                    <td> <%= event.type %> </td>
                    <% var d = event.datetime %>
                    <% date = new Date(d)%>
                    <td> <%= date.toDateString() %> </td>
                    <td>
                        <form action="/event_view" method="get">
                            <input type="hidden" name="v_id" value=<%= event.id %> >
                            <input type="submit" value="View" name="viewEvent" >
                        </form>
                    </td>
                    <td>
                        <form action="/event_delete" method="post">
                            <input type="hidden" name="d_id" value=<%= event.id %> >
                            <input type="submit" value="Delete" name="deleteEvent" >
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>

    <form action="/event_create" method="get">
        <input type="submit" value="Create Event" 
         name="Submit" id="Create Event" />
    </form>

     </div>

</div>

</body>
</html>
