<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>

<% if(errCode == "true") { %>
<h>Invalid Date, Try again</h> <% } %>

Event Name: <%= event.name %> <br>
Default Points: <%= event.points %> <br>
Category: <%= event.type%> <br>
<% var d = event.datetime %>
<% date = new Date(d)%>
Date: <%= date.toDateString() %> <br>
<br>
<table>
    <thead>
        <th>Attendance</th>
    </thead>
    <tbody>
    <tr>
        <% users.forEach(function(user) { %>
        <tr>
            <% var name = user.firstName + ' ' + user.lastName %>
            <td> <%= name %></td>
        </tr>
    <% }) %>
    </tr>
    </tbody>

</table>
Add User: <br>

<form action="/add_event_user" method="post">
    <input type="hidden" name="e_id" value=<%= event.id%>>
    <input type="text" name="b_code" placeholder="Barcode">
    <input type="number" name="points" min="0.5" max ="5" step="0.5" value="1">
    <input type="submit" value="Add" name="addUserEvent">
</form>
</body>
</html>