<!DOCTYPE html>

<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/leaderboard.css">
    </head>

    <body>
   		<table id="leaderboard">
   			<thead>
   				<th>Name</th>
   				<th>Member Type</th>
   				<th>Academic</th>
   				<th>Community Service</th>
   				<th>Social</th>
   				<th>Total</th>
   			</thead>

			<% for (user of users.sort(function (a, b) {
				return a.points.total - b.points.total;
				}).reverse()) { %>
			<tr>
				<td><%= user.firstName %> <%= user.lastName %></td>
				<td><%= user.memberStatus %></td>
				<td><%= user.points.academic %></td>
				<td><%= user.points.community %></td>
				<td><%= user.points.social %></td>
				<td><%= user.points.total %></td>
			</tr>
			<% } %>
		</table>
                <% if (logged_out) { %> 
                  <form action="/user_login" method="post"> 
                    <input type="password" name="password" placeholder="Barcode Hash"><br>
                    <input type="submit" name="submit">
                  </form>
                <% } %> 
	</body>
</html>
