#leader-page {
    table {
        text-transform: capitalize;
        table-layout: fixed;
        width: 100%;
        font-size: 14px;
        thead th {
            color: #444;
            text-align: left;
        }
    }
}
